<% content_for :header do %>
<%= render 'shared/menu' %>
<% end %>
<% content_for :side do %>
<%= render 'shared/side' %>
<% end %>
<% content_for :content do %>
<div class="main uk-section">
  <div class="uk-container uk-container-expand uk-position-relative uk-margin-large-top uk-padding-small">
    <div class="uk-grid uk-margin-remove">
      <div class="uk-padding-remove">
        <h2>Event</h2>
      </div>
    </div>
    <div class="uk-grid uk-margin-remove breadcrumb uk-border-rounded">
      <div class="uk-padding-small uk-margin-remove" uk-grid>
        <div class="uk-padding-remove"><button id="event-nav-all" class="uk-button uk-button-small uk-padding uk-padding-remove-top uk-padding-remove-bottom travel-nav-link nav-border-right">ALL</button></div>
        <div class="uk-padding-remove"><button id="event-nav-tab1" class="uk-button uk-button-small uk-padding uk-padding-remove-top uk-padding-remove-bottom travel-nav-link nav-border-right">Tab1</button></div>
        <div class="uk-padding-remove"><button id="event-nav-tab2" class="uk-button uk-button-small uk-padding uk-padding-remove-top uk-padding-remove-bottom travel-nav-link nav-border-right">Tab2</button></div>
        <div class="uk-padding-remove"><button id="event-nav-tab3" class="uk-button uk-button-small uk-padding uk-padding-remove-top uk-padding-remove-bottom travel-nav-link nav-border-right">Tab3</button></div>
        <div class="uk-padding-remove"><button class="uk-button uk-button-small uk-padding uk-padding-remove-top uk-padding-remove-bottom travel-nav-link">ADD
            New +</a></div>
      </div>
    </div>
    <div class="uk-grid uk-width-1-1 uk-margin-remove">
      <div class="uk-padding-small">
        <div class="uk-grid uk-margin-remove uk-width-1-1">
          <div class=" uk-margin-top uk-padding-remove"><span uk-icon="icon: search"></span></div>
          <div class="uk-inline uk-padding-small">
            <button class="uk-button uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-text-capitalize partners-dropdown"
              type="button"><span id='events-dropdown-label'>Search from</span><span uk-icon="icon: triangle-down"
                class="uk-margin-left"></span></button>
            <div uk-dropdown="mode: click" class="uk-padding-small">
              <li><a href="#" class="dropdown-option events-filter">Title</a></li>
              <li><a href="#" class="dropdown-option events-filter">Partner</a></li>
              <li><a href="#" class="dropdown-option events-filter">Category</a></li>
              <li><a href="#" class="dropdown-option events-filter">Sub</a></li>
            </div>
          </div>
          <div class="uk-form uk-form-width-medium uk-padding-small"><input id='events-search-field' class="uk-input partners-input"
              type="text" placeholder="Start typing here..." /></div>
          <div class="uk-padding-small"><button class="uk-button-primary uk-border-rounded asc-dsc-button">
              <%= image_tag('updown.png', class: 'uk-icon-image partners-updown-icon')%></button></div>
        </div>
      </div>
    </div>
    <div class="table-container">
      <div id="all-content" class="event-nav-all table-content uk-grid uk-margin-remove uk-width-1-1">
        <div class="uk-padding-remove uk-width-1-1">
          <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
            <div class="uk-padding-small localities-panel-header">
              <span id="table-name">All</span> <button class="uk-button-primary uk-button-small uk-float-right uk-border-rounded"><span
                  uk-icon="icon: plus; ratio: .8"></span><span>Add New Event</span></button>
              <button class="uk-button-primary uk-button-small uk-float-right uk-margin-right uk-border-rounded"><span>Import</span></button>
            </div>
            <div class="uk-padding-small">
              <div class="uk-grid uk-margin-remove uk-width-1-1">
                <div class=" uk-margin-small-top uk-padding-remove"><span class="uk-padding-remove">Status</span></div>
                <div class="uk-form uk-form-width-medium">
                  <select class="uk-select">
                    <option>All</option>
                    <option>Other options</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="partners-table">
              <div class="content-well p-x-2 p-y-2">
                <div class="uk-container">
                  <table id='events-table' class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table"
                    data-uk-scrollspy="cls:uk-animation-fade;">
                    <thead>
                      <tr>
                        <th class="uk-text-capitalize table-column-name"><span uk-icon="icon: triangle-up"></span>Title</th>
                        <th class="uk-text-capitalize table-column-name">Partner</th>
                        <th class="uk-text-capitalize table-column-name">Category</th>
                        <th class="uk-text-capitalize table-column-name">Sub</th>
                        <th class="uk-text-capitalize table-column-name">Status</th>
                        <th class="uk-text-capitalize table-column-name">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>4-hour Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab1-content" class="event-nav-tab1 table-content uk-grid uk-margin-remove uk-width-1-1  uk-hidden">
        <div class="uk-padding-remove uk-width-1-1">
          <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
            <div class="uk-padding-small localities-panel-header">
              <span id="table-name">Tab1</span> <button class="uk-button-primary uk-button-small uk-float-right uk-border-rounded"><span
                  uk-icon="icon: plus; ratio: .8"></span><span>Add New Wellness</span></button>
              <button class="uk-button-primary uk-button-small uk-float-right uk-margin-right uk-border-rounded"><span>Import</span></button>
            </div>
            <div class="uk-padding-small">
              <div class="uk-grid uk-margin-remove uk-width-1-1">
                <div class=" uk-margin-small-top uk-padding-remove"><span class="uk-padding-remove">Status</span></div>
                <div class="uk-form uk-form-width-medium">
                  <select class="uk-select">
                    <option>All</option>
                    <option>Other options</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="partners-table">
              <div class="content-well p-x-2 p-y-2">
                <div class="uk-container">
                  <table id='events-table' class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table"
                    data-uk-scrollspy="cls:uk-animation-fade;">
                    <thead>
                      <tr>
                        <th class="uk-text-capitalize table-column-name"><span uk-icon="icon: triangle-up"></span>Title</th>
                        <th class="uk-text-capitalize table-column-name">Partner</th>
                        <th class="uk-text-capitalize table-column-name">Category</th>
                        <th class="uk-text-capitalize table-column-name">Sub</th>
                        <th class="uk-text-capitalize table-column-name">Status</th>
                        <th class="uk-text-capitalize table-column-name">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="uk-padding-remove">
                        <td>Activity Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Activity Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Activity Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Activity Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Activity Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2-content" class="event-nav-tab2 table-content uk-grid uk-margin-remove uk-width-1-1  uk-hidden">
        <div class="uk-padding-remove uk-width-1-1">
          <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
            <div class="uk-padding-small localities-panel-header">
              <span id="table-name">Tab2</span> <button class="uk-button-primary uk-button-small uk-float-right uk-border-rounded"><span
                  uk-icon="icon: plus; ratio: .8"></span><span>Add New Wellness</span></button>
              <button class="uk-button-primary uk-button-small uk-float-right uk-margin-right uk-border-rounded"><span>Import</span></button>
            </div>
            <div class="uk-padding-small">
              <div class="uk-grid uk-margin-remove uk-width-1-1">
                <div class=" uk-margin-small-top uk-padding-remove"><span class="uk-padding-remove">Status</span></div>
                <div class="uk-form uk-form-width-medium">
                  <select class="uk-select">
                    <option>All</option>
                    <option>Other options</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="partners-table">
              <div class="content-well p-x-2 p-y-2">
                <div class="uk-container">
                  <table id='events-table' class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table"
                    data-uk-scrollspy="cls:uk-animation-fade;">
                    <thead>
                      <tr>
                        <th class="uk-text-capitalize table-column-name"><span uk-icon="icon: triangle-up"></span>Title</th>
                        <th class="uk-text-capitalize table-column-name">Partner</th>
                        <th class="uk-text-capitalize table-column-name">Category</th>
                        <th class="uk-text-capitalize table-column-name">Sub</th>
                        <th class="uk-text-capitalize table-column-name">Status</th>
                        <th class="uk-text-capitalize table-column-name">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="uk-padding-remove">
                        <td>Wellnesss Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Wellnesss Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Wellnesss Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Wellnesss Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Wellnesss Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab3-content" class="event-nav-tab3 table-content uk-grid uk-margin-remove uk-width-1-1  uk-hidden">
        <div class="uk-padding-remove uk-width-1-1">
          <div class="uk-panel uk-margin-remove uk-border-rounded localities-panel">
            <div class="uk-padding-small localities-panel-header">
              <span id="table-name">Tab3</span> <button class="uk-button-primary uk-button-small uk-float-right uk-border-rounded"><span
                  uk-icon="icon: plus; ratio: .8"></span><span>Add New Wellness</span></button>
              <button class="uk-button-primary uk-button-small uk-float-right uk-margin-right uk-border-rounded"><span>Import</span></button>
            </div>
            <div class="uk-padding-small">
              <div class="uk-grid uk-margin-remove uk-width-1-1">
                <div class=" uk-margin-small-top uk-padding-remove"><span class="uk-padding-remove">Status</span></div>
                <div class="uk-form uk-form-width-medium">
                  <select class="uk-select">
                    <option>All</option>
                    <option>Other options</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="partners-table">
              <div class="content-well p-x-2 p-y-2">
                <div class="uk-container">
                  <table id='events-table' class="uk-table uk-table-striped uk-table-middle uk-table-divider uk-table-large localities-table"
                    data-uk-scrollspy="cls:uk-animation-fade;">
                    <thead>
                      <tr>
                        <th class="uk-text-capitalize table-column-name"><span uk-icon="icon: triangle-up"></span>Title</th>
                        <th class="uk-text-capitalize table-column-name">Partner</th>
                        <th class="uk-text-capitalize table-column-name">Category</th>
                        <th class="uk-text-capitalize table-column-name">Sub</th>
                        <th class="uk-text-capitalize table-column-name">Status</th>
                        <th class="uk-text-capitalize table-column-name">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="uk-padding-remove">
                        <td>Transportation Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Transportation Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Transportation Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Transportation Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                      <tr class="uk-padding-remove">
                        <td>Transportation Baybayin Workshop</td>
                        <td>Bell Magic Mountain Adventure Resort</td>
                        <td>Playhouse</td>
                        <td>Crafting Classes</td>
                        <td>APPROVED</td>
                        <td>
                          <button class="uk-button-primary uk-border-rounded"><span uk-icon="icon: pencil"></span></button>
                          <button class="uk-border-rounded unlock-button">
                            <%= image_tag('unlock-icon.png', class: 'uk-icon-image unlock-icon')%></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>